#ex1 {
    font-size: x-large;
    margin-left: 250px;
    }
 #es1 {
    font-size: x-large;
    margin-left: 250px;
 }
 #se {
    margin-left: 250px;
 }
 #ex2 {
    font-size: x-large;
    margin-left: 650px;
    }
 #es2 {
    font-size: x-large;
    margin-left: 650px;
 }
 #se1 {
    margin-left: 650px;
 }
 #ex3 {
    font-size: x-large;
    margin-left: 250px;
    }
 #es3 {
    font-size: x-large;
    margin-left: 250px;
 }
 #se2 {
    margin-left: 250px;
 }
 #ex4 {
    font-size: x-large;
    margin-left: 650px;
    }
 #es4 {
    font-size: x-large;
    margin-left: 650px;
 }
 #se3 {
    margin-left: 650px;
 } #ex5 {
    font-size: x-large;
    margin-left: 250px;
    }
 #es5 {
    font-size: x-large;
    margin-left: 250px;
 }
 #se4 {
    margin-left: 250px;
 }
 #ex6 {
    font-size: x-large;
    margin-left: 650px;
    }
 #es6 {
    font-size: x-large;
    margin-left: 650px;
 }
 #se5 {
    margin-left: 650px;
 }
 #ex7 {
    font-size: x-large;
    margin-left: 250px;
    }
 #es7 {
    font-size: x-large;
    margin-left: 250px;
 }
 #se6 {
    margin-left: 250px;
 }
 #ex8 {
    font-size: x-large;
    margin-left: 650px;
    }
 #es8 {
    font-size: x-large;
    margin-left: 650px;
 }
 #se7 {
    margin-left: 650px;
 }
 #ex9 {
    font-size: x-large;
    margin-left: 250px;
    }
 #es9 {
    font-size: x-large;
    margin-left: 250px;
 }
 #se8 {
    margin-left: 250px;
 }
 #ex10 {
    font-size: x-large;
    margin-left: 650px;
    }
 #es10 {
    font-size: x-large;
    margin-left: 650px;
 }
 #se9 {
    margin-left: 650px;
 }
 #ex11 {
    font-size: x-large;
    margin-left: 250px;
    }
 #es11 {
    font-size: x-large;
    margin-left: 250px;
 }
 #se10 {
    margin-left: 250px;
 }
 #ex12 {
    font-size: x-large;
    margin-left: 650px;
    }
 #es12 {
    font-size: x-large;
    margin-left: 650px;
 }
 #se11 {
    margin-left: 650px;
 }
 #ex13 {
    font-size: x-large;
    margin-left: 250px;
    }
 #es13 {
    font-size: x-large;
    margin-left: 250px;
 }
 #se12 {
    margin-left: 250px;
 }
 #ex14 {
    font-size: x-large;
    margin-left: 650px;
    }
 #es14 {
    font-size: x-large;
    margin-left: 650px;
 }
 #se13 {
    margin-left: 650px;
 }
 #ex15 {
    font-size: x-large;
    margin-left: 250px;
    }
 #es15 {
    font-size: x-large;
    margin-left: 250px;
 }
 #se14 {
    margin-left: 250px;
 }
 #ex16 {
    font-size: x-large;
    margin-left: 650px;
    }
 #es16 {
    font-size: x-large;
    margin-left: 650px;
 }
 #se15 {
    margin-left: 650px;
 }
 #ex17 {
    font-size: x-large;
    margin-left: 250px;
    }
 #es17 {
    font-size: x-large;
    margin-left: 250px;
 }
 #se16 {
    margin-left: 250px;
 }
 #ex18 {
    font-size: x-large;
    margin-left: 650px;
    }
 #es18 {
    font-size: x-large;
    margin-left: 650px;
 }
 #se17 {
    margin-left: 650px;
 }
 #ex19 {
    font-size: x-large;
    margin-left: 250px;
    }
 #es19 {
    font-size: x-large;
    margin-left: 250px;
 }
 #se18 {
    margin-left: 250px;
 }
 #ex20 {
    font-size: x-large;
    margin-left: 650px;
    }
 #es20 {
    font-size: x-large;
    margin-left: 650px;
 }
 #se19 {
    margin-left: 650px;
 }
 #ex21 {
    font-size: x-large;
    margin-left: 250px;
    }
 #es21 {
    font-size: x-large;
    margin-left: 250px;
 }
 #se20 {
    margin-left: 250px;
 }
 #ex22 {
    font-size: x-large;
    margin-left: 650px;
    }
 #es22 {
    font-size: x-large;
    margin-left: 650px;
 }
 #se21 {
    margin-left: 650px;
 }
 #ex23 {
    font-size: x-large;
    margin-left: 250px;
    }
 #es23 {
    font-size: x-large;
    margin-left: 250px;
 }
 #se22 {
    margin-left: 250px;
 }
 #ex24 {
    font-size: x-large;
    margin-left: 650px;
    }
 #es24 {
    font-size: x-large;
    margin-left: 650px;
 }
 #se23 {
    margin-left: 650px;
 }
 #ex25 {
    font-size: x-large;
    margin-left: 250px;
    }
 #es25 {
    font-size: x-large;
    margin-left: 250px;
 }
 #se24 {
    margin-left: 250px;
 }
 #ex26 {
    font-size: x-large;
    margin-left: 650px;
    }
 #es26 {
    font-size: x-large;
    margin-left: 650px;
 }
 #se25 {
    margin-left: 650px;
 }
 #ex27 {
    font-size: x-large;
    margin-left: 250px;
    }
 #es27 {
    font-size: x-large;
    margin-left: 250px;
 }
 #se26 {
    margin-left: 250px;
 }
 #ex28 {
    font-size: x-large;
    margin-left: 650px;
    }
 #es28 {
    font-size: x-large;
    margin-left: 650px;
 }
 #se27 {
    margin-left: 650px;
 }
 #ex29 {
    font-size: x-large;
    margin-left: 250px;
    }
 #es29 {
    font-size: x-large;
    margin-left: 250px;
 }
 #se28 {
    margin-left: 250px;
 }
 #ex30 {
    font-size: x-large;
    margin-left: 650px;
    }
 #es30 {
    font-size: x-large;
    margin-left: 650px;
 }
 #se29 {
    margin-left: 650px;
 }
