#head {
    margin-left: 500px;
    font-weight: bold;
    font-size: 40px;
       }
       #head1 {
        margin-left: 520px;
        margin-top: 25px;
        font-weight: bold;
        color: blue;
        font-size: 25px;
       }
       #head2 {
        margin-left: 500px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
       }
       #head3 {
        margin-left: 550px;
    font-weight: bold;
    font-size: 25px;
    margin-top: 70px;
       }
       #head4 {
    margin-left: 550px;
    font-weight: lighter;
    margin-top: 40px;
       }
       #img1 {
        margin-left: 450px;
       }
       #img2 {
        margin-left: 400px;
       }
       #first {
        margin-left: 500px;
        font-weight: bold;
        font-size: 22px;
        margin-top: 5px;
       }
       #second {
        margin-left: 490px;
        font-weight: lighter;
        font-size: 20px;
        margin-bottom: 5px;
       }#img3 {
        margin-left: 900px;
        margin-top: -100px;
       }
       #third {
        margin-left: 950px;
        font-weight: lighter;
        font-size: 20px;
        margin-bottom: 5px;
       }
       #fouth {
        font-weight: bold;
        margin-left: 950px;
        font-size: 22px;
        margin-top: 5px;
       }
       #img4 {
      margin-left: 400px;
      margin-top: -100px;
       }
       #img5 {
     margin-left: 850px;
     margin-top: -100px;
       }
       #fifth {
        margin-left: 790px;
        font-size: 23px;
        font-weight: normal;
       }
       #seven {
        margin-left: 470px;
        font-size: 23px;
        font-weight: normal;
        margin-top: -140px;
       }
       #sixth {
        margin-left: 790px;
        font-size: 23px;
        font-weight: bold;
       }
       #eight {
        margin-left: 470px;
        font-size: 23px;
        font-weight: bold;
        margin-top: -10px;
       }
       #iq {
        font-size: 30px;
        font-weight: bold;
        margin-left: 550px;
        color: darkblue;
    
       }
       #images12 {
        margin-left: 500px;
       }
       #Benefits {
        font-weight: bolder;
        font-size: 25px;
        margin-left: 450px;
        margin-top: 80px;
       }
       #a {
        margin-left: 500px;
       }
       #b {
        margin-left: 500px;
       }
       #c {
        margin-left: 500px;
       }
       #d {
        margin-left: 500px;
       }
        #Featured {
            font-size: 35px;
            margin-left: 470px;
            font-weight: bold;
        }
        #img6 {
            margin-left: 200px;
        }
        #img7{
            margin-left: 650px;
            margin-top: -140px;
        }
        #img8 {
            margin-left: 200px;
        }
        #img9 {
            margin-left: 650px;
            margin-top: -140px;
        }
        #images10 {
            margin-left: 200px;
        }
        #images11 {
            margin-left: 300px;
            margin-top: -200px;
        }
        #follow {
            font-size: x-large;
            font-weight: bold;
            margin-left: 450px;
        }
        #information {
            margin-left: 260px;
        }
        #follow-us-on {
            font-size: xx-large;
            font-weight: bold;
            margin-left: 550px;
        }
        #last {
            font-weight: bold;
            font-size: 30px;
            margin-left: 250px;
        }
        #lt {
            font-weight: bold;
            font-size: 30px;
            margin-left: 650px;
        }